<!DOCTYPE html>
<html>
<head>
    <title>Acerca de</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<nav>
    <a href="/">Inicio</a>
    <a href="/about">Acerca de</a>
    <a href="/inventario">Inventario</a>
    <a href="/persistencia">Persistencia</a>
</nav>

<h1 class="titulo-principal">Acerca de Viveres TENZIN</h1>

<p style="text-align:center;">
    Sistema de inventario desarrollado en Flask.
</p>

</body>
</html>